nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 10rem;

  > img {
    width: 140px;
    height: 68px;
  }

  ul {
    display: flex;
    cursor: pointer;
  }

  ul li {
    padding: 2.7rem 1.3rem;
    transition: 0.2s;
  }

  ul li img {
    width: 30px;
    height: 30px;
  }

  li:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 720px) {
  nav {
    margin: 2rem 1rem;
  }
}